.btn {
  border: 1px solid white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  width: 100%;
  cursor: pointer;
}

.btn.btn--primary {
  background-color: var(--clr-primary);

}

.btn.btn--secondary {
  background-color: var(--clr-secondary);
}