header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;
}

header h1 {
  margin: 0;
}

a:active {
  color: inherit;
}
.nav-list {
  display: flex;
  gap: 1rem;
}

.nav-list a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: brown;
}