header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

header h1 {
  margin: 0;
  font-size: 1.5rem;
  color: var(--clr-heading);
}

a:active {
  color: inherit;
}
.nav-list {
  display: flex;
  gap: 1rem;
}

.nav-list .nav__item, .nav-list a {
  text-decoration: none;
  font-weight: bold;
  font-size: 0.8rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--clr-text)
}

