body {
  background-color: var(--clr-background);
}

* {
  box-sizing: border-box;
}

:root {
  --clr-secondary: #e0e0e0;
  --clr-primary: #f5913e;
  --clr-third: #858694;
  --clr-background: #f6f6f2;
  --clr-heading: #388087; 
  --clr-text: #6fb3b8; 
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1, h2{
  color: var(--clr-heading);
}

p {
  color: var(--clr-text);
}